<li class="list-block__item" data-chat-id="{{id}}">
    <div class="chat-item">
        <div class="chat-item__in">
            <div class="chat-item__left">
                <img class="chat-left-avatar"
                     src="{{last_message.user.avatar}}" alt="Аватар собеседника">
            </div>
            <div class="chat-item__right">
                <div class="chat-item__name">{{title}}</div>
                <div class="chat-item__text">{{last_message.content}}</div>
            </div>
            <div class="chat-item__abs">
                <div class="chat-item__time">{{last_message.time}}</div>
                <div class="chat-item__unread">{{unread_count}}</div>
            </div>
        </div>
    </div>
</li>