<div class="login-page">
    <div class="wrapper">
        <div class="block">
            <h1 class="h1">{{h1}}</h1>
            <form action="" class="form">
                {{{field-0}}}
                {{{field-1}}}
                {{{field-2}}}
                {{{field-3}}}
                {{{field-4}}}
                {{{field-5}}}
                {{{field-6}}}
                <div class="btn-block">
                    {{{btn}}}
                </div>
                <div class="btn-text">
                    {{{btn2}}}
                </div>
            </form>
        </div>
    </div>
</div>