<div class="chat-layout">
    <div class="chat-left-block">
        <div class="top-left-block">
            <div class="create-chat">
                {{{createChatBtn}}}
            </div>
            <div class="link-block">
                {{{linkToSettings}}}
            </div>
        </div>

        <div class="search-block">
            {{{searchInput}}}
        </div>
        <ul class="list-block">
            {{{chatList}}}
        </ul>
    </div>
    <div class="chat-right-block">
        <div class="head-block">
            <div class="head-block__in">
                <div class="head-block__img">
                    <img alt="avatar" src="{{{avatar}}}"/>
                </div>
                <div class="head-block__name">{{{name}}}</div>
                <div class="head-block__settings">{{{showUserModal}}}</div>
                <div class="head-block__userModal {{{showModal}}}">{{{userModal}}}</div>
            </div>
        </div>
        <div class="content-block">
            <div class="content-block__in">
                {{{messagesList}}}
            </div>
        </div>
        <div class="input-block">
            <div class="input-block__in">
                <div class="input-block__pin">
                    <img src="{{{pinIcon}}}"/>
                </div>
                <div class="input-block__input">{{{messageInput}}}</div>
                <div class="input-block__btn">{{{sendMessageBtn}}}</div>
            </div>
        </div>
    </div>
    <div class="{{{showAddModal}}}">
        {{{addUserModal}}}
    </div>
    <div class="{{{showRemoveModal}}}">
        {{{removeUserModal}}}
    </div>
    <div class="{{{showCreateChatModal}}}">
        {{{createChatModal}}}
    </div>
</div>