<div class="profile-page">
    <div class="profile-page__in">
        <div class="profile-page__img">
            <input class="profile-page__img-input" name="avatar" type="image" src="{{profileImg}}"
                   alt="Аватар с Вашим изображением">
            {{{sendFile}}}
        </div>
        <div class="profile-page__name">Иван</div>
        <div class="profile-page__field-list">
            {{{field-0}}}
            {{{field-1}}}
            {{{field-2}}}
            {{{field-3}}}
            {{{field-4}}}
            {{{field-5}}}
        </div>
        <div class="profile-page__btns">
            <div class='profile-page__btn'>{{{saveBtn}}}</div>
            <div class='profile-page__btn'>{{{changeDataBtn}}}</div>
            <div class='profile-page__btn'>{{{changePasswordBtn}}}</div>
            <div class='profile-page__btn'>{{{logOutBtn}}}</div>
        </div>
    </div>
</div>