<div class="profile-page">
    <div class="profile-page__in">
        <div class="profile-page__img">
            <img src="{{img}}" alt="Gachi Muschi">
        </div>
        <div class="profile-page__name">Иван</div>
        <div class="profile-page__field-list">
            {{{listHelper fieldList}}}
        </div>
        <div class="profile-page__btn">{{{changeData}}}</div>
        <div class="profile-page__btn">{{{changePassword}}}</div>
        <div class="profile-page__btn">{{{logout}}}</div>
        <div class="profile-page__btn">{{{save}}}</div>
    </div>
</div>