<div class="login-page">
    <div class="wrapper">
        <div class="block">
            <h1 class="h1">{{h1}}</h1>
            <form action="" class="form">
                {{{name}}}
                {{{password}}}
                <div class="btn-block">
                    {{{btn}}}
                </div>
                <div class="btn-text">
                    {{{btn_text}}}
                </div>
            </form>
        </div>
    </div>
</div>