<div class="login-page">
    <div class="wrapper">
        <div class="block">
            <h1 class="h1">{{h1}}</h1>
            <form action="" class="form">
                {{{name}}}
                {{{password}}}
                <div class="btn-block">
                    {{{btn}}}
                </div>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="link">{{noAccountText}}</a>
            </form>
        </div>
    </div>
</div>