<div class="item {{customStyles}}">
    <div class="field-icon">
        {{{icon}}}
    </div>
    {{labelShow name label}}
    <input class="input" id="{{name}}" name="{{name}}"
           placeholder="{{placeholder}}" type="{{type}}" {{readonly}} value="{{value}}">
</div>