<div class="item {{customStyles}}">
    <div class="field-icon">
        {{{icon}}}
    </div>
    <label class="label" for="{{name}}">{{label}}</label>
    <input class="input" id="{{name}}" name="{{name}}"
           placeholder="{{placeholder}}" type="{{type}}">
</div>